.carousel {
  position: absolute;
  width: 100vw;
  height: 650px;
  left: 0;
  top: 0;
  line-height: 550px;
  object-fit: cover;
  overflow: hidden;
}

.carousel img {
  position: relative;
  margin-top: -12%;
}

#img3 {
  margin-top: 0;
}

@media (max-width: 1200px) {
  .carousel {
    width: 1200px;
  }
  .info-container {
    width: 1200px;
  }
}

.carousel-indicators li{
  background-color:white;
  position: relative;
  bottom: 1em;
  width: 10px;
  height: 10px;
  border-radius: 100%;
}

.info-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  width: 100vw;
  top: 700px;
  left: 0;
  overflow: hidden;
}
.text {
  margin: 10px;
  padding: 10px;
  text-align: center;
  width: 800px;
}
