#site-navbar {
  background-color: $color-primary;
  height: 100px;
  top: 0;
  z-index: 100;
  padding-left: 60px;
}

#navbar-title {
  font-family: $font;
  font-size: 18pt;
  margin-left: 15px;
}

#basic-navbar-nav {
  position: absolute;
  right: 0;
  padding: 10px;
  font-size: 12pt;
  color: white;
  padding-right: 60px;

  img {
    height: 25px;
    margin: 20px;
    display: inline-block;
  }
  a {
    color: white;
  }
}
